html {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

aside {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    overflow-y: scroll;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 300px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #ccc;
    border-bottom: none;
    z-index: 99;
    bottom: 100%;
    left: 0;
    right: 0;
    background: white;
    max-height: 150px;
    overflow-y: auto;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-item:hover,
.autocomplete-active {
    background-color: #e9e9e9;
}