html {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

aside {
    padding: 1em;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside p {
    margin-bottom: 0px;
}

main {
    flex: 1;
    overflow-y: scroll;
}

#rooms {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#rooms > button {
    --bs-btn-border-color: var(--bs-border-color);
    text-align: start;
}

aside .input-group {
    margin-bottom: 3px;
}

#input {
    height: 4.5em;
    width: 100%;
    padding: 1em 2em;
}

#input > .dropdown-menu {
    display: inline-block;
    position: absolute;
    bottom: 4em;
    max-height: 300px;
    max-width: min(800px, 100vw - 2em);
    overflow-y: scroll;
    overflow-x: hidden;
}